footer {
    background-color: $secondary;
    color: black; 
    // border-top: 4px solid $primary; 
    text-align: center; 
    p {
        font-weight: 400; 
        font-size: 1rem;  
        padding: .5rem;
    }
}