header {
    background-color: $brandColour;
    padding: 4rem; 
    color: $lightColour;
}

nav ul {
    display: flex;
}

.skillsContainer {
    display: flex;
    .skill {
        font-size: 3rem;
        padding: 2rem 2rem 2rem 0;
    }
}

// .hamburger,
// .exit-responsive {
//     display: none;
//     text-align: right; 
//     color: $secondary; 
// }

// .show.menu {
// 	display: block;
// }