.projects {
    margin-bottom: 2rem; 
}

.projectCard {
    display: flex;
    justify-content: space-between;
    border: 2px solid $borderColour; 
    padding: 4rem;
    margin-bottom: 2rem;
    .projectInfo,
    .projectImage {
        width: 50%;
    }
}

.githubButton, 
.liveButton, 
.submitButton {
    display: inline-block; 
    border: 2px solid $linkColour;
    background: $linkColour;
    color: $lightColour; 
    text-transform: uppercase;
    text-align: center;  
    padding: .5rem 0; 
    margin-top: 1rem; 
    width: 50%; 
    max-width: 350px;
    &:hover, 
    &:focus,
    &:active {
        background: $linkHoverColour;
        border: 2px solid $linkHoverColour; 
        color: $lightColour; 
    }
}

// ABOUT SECTION ////////////////////////////////

.about {
    background: $lightBackground; 
    padding-bottom: 4rem; 
    .fas, 
    .fab {
        font-size: 2rem; 
        // width: calc(100% / 5);
        padding-bottom: 1rem;
        color: $linkColour;
        &:hover, 
        &:focus, 
        &:active {
            color: $linkHoverColour;
        }
    }
}

.aboutContainer, 
.contact {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 2rem; 
}

.bio, 
.contactForm {
    width: 70%;
}

.profilePicture, 
.contactInfo {
    width: 20%; 
}

.contactInfo {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}

.username, 
.useremail, 
.message { 
    color: $textColour; 
    padding: 0.5rem;
    margin-bottom: 1rem; 
    border: 2px solid $inputBorderColour; 
    width: 100%;
}