// OLD COLORS
$primary:  orange;
$secondary: red; 

// Text
$textColour: #0b0c0c;	
$secondaryTextColour: #6f777b; 

// Links
$linkColour: #1d70b8;
$linkHoverColour: #003078;
$linkVisitedColour: #4c2c92;	
$linkActiveColour: #0b0c0c;

// Border
$borderColour: #b1b4b6;	
$inputBorderColour: #0b0c0c;

// Focus state
$focusColour: #ffdd00; // indicate element in focus i.e. user tabs via keyboard
$focusTextColour: #0b0c0c;

// Error state
$errorColour: #d4351c; // Use for error messages

// Brand colour
$brandColour: #1d70b8;
$lightColour: #ffffff; 
$lightBackground: #f3f2f1;